In [3]:
import pandas as pd
import scipy.stats as st
import scipy as sp
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_squared_error
import math
%matplotlib inline

In [4]:
# load data
df = pd.read_csv('health care diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [35]:
df_linear = pd.read_csv('Salary_dataset.csv')
df_linear

    Unnamed: 0  YearsExperience    Salary
0            0              1.2   39344.0
1            1              1.4   46206.0
2            2              1.6   37732.0
3            3              2.1   43526.0
4            4              2.3   39892.0
5            5              3.0   56643.0
6            6              3.1   60151.0
7            7              3.3   54446.0
8            8              3.3   64446.0
9            9              3.8   57190.0
10          10              4.0   63219.0
11          11              4.1   55795.0
12          12              4.1   56958.0
13          13              4.2   57082.0
14          14              4.6   61112.0
15          15              5.0   67939.0
16          16              5.2   66030.0
17          17              5.4   83089.0
18          18              6.0   81364.0
19          19              6.1   93941.0
20          20              6.9   91739.0
21          21              7.2   98274.0
22          22              8.0  101303.0
23          23              8.3  113813.0
24          24              8.8  109432.0
25          25              9.1  105583.0
26          26              9.6  116970.0
27          27              9.7  112636.0
28          28             10.4  122392.0
29          29             10.6  121873.0

In [7]:
# global variables
X = df.drop(columns=['Outcome']).to_numpy() # all input values
y = df['Outcome']

In [83]:
X

array([[  6.   , 148.   ,  72.   , ...,  33.6  ,   0.627,  50.   ],
       [  1.   ,  85.   ,  66.   , ...,  26.6  ,   0.351,  31.   ],
       [  8.   , 183.   ,  64.   , ...,  23.3  ,   0.672,  32.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,  26.2  ,   0.245,  30.   ],
       [  1.   , 126.   ,  60.   , ...,  30.1  ,   0.349,  47.   ],
       [  1.   ,  93.   ,  70.   , ...,  30.4  ,   0.315,  23.   ]])

In [84]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
print(f"X train: {X_train} Type: {type(X_train)}\n") # 2D array of np.float64
print(f"X test: {X_test} Type: {type(X_test)}\n")
print(f"y train: {y_train} Type: {type(y_train)}\n") # pd.Series array of ints
print(f"y test: {y_test} Type: {type(y_test)}\n")

model = LogisticRegression()
model.fit(X_train, y_train)
print(f"Accuracy: {model.score(X_test, y_test)}")

X train: [[  3.    108.     62.    ...  26.      0.223  25.   ]
 [  7.     83.     78.    ...  29.3     0.767  36.   ]
 [  0.    138.     60.    ...  34.6     0.534  21.   ]
 ...
 [  6.    123.     72.    ...  33.6     0.733  34.   ]
 [  1.     79.     60.    ...  43.5     0.678  23.   ]
 [  3.    106.     72.    ...  25.8     0.207  27.   ]] Type: <class 'numpy.ndarray'>

X test: [[  7.    119.      0.    ...  25.2     0.209  37.   ]
 [  2.    128.     78.    ...  43.3     1.224  31.   ]
 [  1.    111.     94.    ...  32.8     0.265  45.   ]
 ...
 [  1.     80.     74.    ...  30.      0.527  22.   ]
 [  4.    154.     62.    ...  32.8     0.237  23.   ]
 [  7.    161.     86.    ...  30.4     0.165  47.   ]] Type: <class 'numpy.ndarray'>

y train: 752    0
82     0
414    1
254    1
728    0
      ..
278    0
184    0
594    0
173    0
615    0
Name: Outcome, Length: 576, dtype: int64 Type: <class 'pandas.core.series.Series'>

y test: 222    0
292    1
724    0
522    0
263    0
      ..
695    1
631    0
432    0
144    0
283    1
Name: Outcome, Length: 192, dtype: int64 Type: <class 'pandas.core.series.Series'>

Accuracy: 0.765625

C:\Users\ezrab\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
model.predict(X_test)

array([1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1], dtype=int64)

In [81]:
# global variables
clusters = [] # stores x values of data
m_init = 1
b_init = 0
learning_rate = 0.01 # default
points = []

# supplemental functions

def sigmoid_function(x, m, b):
    return 1/(1 + math.exp(-1*(m*x+b)))

def linear_regression(x, m, b):
    return m*x+b
              
# optimize model using stochastic gradient descent

def cluster_points():
    # increment by some x and use a circle with radius x/2 to capture points
    print("Clustering points")
    increment = 10 # diameter of circle
    start = min(X_adjusted)
    end = max(X_adjusted)
    # (x - h)^2 + (y - k)^2 <= r^2
    radius = increment/2
    X_center = increment/2
    y_center = sigmoid_function(X_center, m_init, b_init)
    
    for i in range(start, end, increment):
        temp = []
        for j in range(start, end):
            if ((X_adjusted[j] - X_center)**2 + (y_adjusted[j] - y_center)**2) <= (radius)**2:
                temp.append(X_adjusted[j])
            
        if len(temp) > 0:
            clusters.append(temp)
        
        X_center = X_center + increment
        y_center = sigmoid_function(X_center, m_init, b_init)
        print(f"{X_center}, {y_center}")
        
        remove_duplicates()
    print(clusters)
    
def remove_duplicates():
    temp = dict()
    for i in range(0, len(clusters)):
        for j in range(0, len(clusters[i])):
            if clusters[i][j] not in temp.keys():
                temp[clusters[i][j]] = 1
            else:
                clusters[i].pop(j)
        
    
def random_cluster_points(): # empty range for randrange() (0,0,0)
    print("Selecting a random point per cluster")
    for cluster in clusters:
        if len(cluster) >= 1:
            if len(cluster) > 1:
                i = random.randint(0, len(cluster)-1)
                points.append(cluster[i])
            else:
                points.append(cluster[0])

    print(points)
    

# partial derivative of loss function with respect to slope
def derivative_m(x, y, m, b):
    return (-2*x)*(y-(b+m*x))
    
    
# partial derivative of loss function with respect to y-intercept
def derivative_b(x, y, m, b):
    return -2*(y-(b+m*x))

def rms_error():
    err = 0
    new_err = 0
    i = 0
    
    for prediction in model.predict(X_train):
        new_err = (prediction - y_train.size)**2
        err = err + new_err
    
    mean_squared_err = math.sqrt(err/y_train.size)
    
    print(f"N = {y_train.size}")
    print(f"∑(x-xi)² = {err}")
    
    return mean_squared_err

def stochastic_gradient_descent(m, b):
    print("Performing SGD")
    print(X_train.size)
    print(X_train[0].size)
    print(f"{y_train.size} \n")
#     iterations = y_train.size//10
#     for i in range(0, iterations):
#         global m_init
#         global b_init
        
    print(X_train[4607][7])
    rand_row = np.random.randint(0, X_train.size-1)
    rand_col = np.random.randint(0, X_train[0].size-1)
    print(rand_row)
    print(rand_col)
    print(X_train[rand_row][rand_col])
    print(X_train[4607][7])

#         rand_val = X_train[rand_row][rand_col]

#         adjusted_m = derivative_m(rand_val, y_train[i], m_init, b_init)
#         adjusted_b = derivative_b(rand_val, y_train[i], m_init, b_init)

#         print(adjusted_m)
#         print(adjusted_b)


#         m_init = m_init - adjusted_m * learning_rate
#         b_init = b_init - adjusted_b * learning_rate
#         print(f"New slope: {m_init}")
#         print(f"New intercept: {b_init}")

In [82]:
stochastic_gradient_descent(m_init, b_init)

Performing SGD
4608
8
576

IndexError: index 4607 is out of bounds for axis 0 with size 576

In [76]:
# Tasks for now:
# refresh logistic regression ^
# logistic regression sklearn, compare my rms to built in ^
# ensure model has converged
# calculate root mean square error for each point ^
# convergence - rms error converges to smallest value it could achieve 

print(f"My Mean squared error formula: {rms_error()}")
print(f"Sklearn Mean squared error: {mean_squared_error(model.predict(X_test), y_test)}")

N = 576
∑(x-xi)² = 190932628
My Mean squared error formula: 575.7432213621315
Sklearn Mean squared error: 0.234375